name: parse_and_process

on:
  schedule:
    - cron: "23 8 * * *"
  workflow_dispatch:

jobs:
  scrape-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.0.0
        with:
          python-version: '3.7'
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run Scraper
        run: python scripts/slopd_scraper.py
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"        
          git add data/csv/*
          git commit -m "Add data"
      - name: Push changes
        uses: ad-m/github-push-action@main
       
